<footer class="bg-palees-blue text-palees-gray-light py-8 mt-16 shadow-inner">
    <div class="container mx-auto px-6 flex flex-col md:flex-row justify-between items-center md:items-start space-y-6 md:space-y-0 text-center md:text-left">
        <div class="flex flex-col items-center md:items-start space-y-2">
            <p class="text-lg font-bold mb-2">PALEES</p>
            <p>RUC 10470554482</p>
            <p>Dirección Legal: Upis nuevo San luis, <br> Mz. F lt 34</p>
        </div>
        <div class="flex flex-col items-center md:items-start space-y-2">
            <p class="text-palees-yellow font-semibold mb-2">Explora</p>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Acerca de nosotros</a>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Nuestras Tiendas</a>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Preguntas Frecuentes</a>
        </div>
        <div class="flex flex-col items-center md:items-start space-y-2">
            <p class="text-palees-yellow font-semibold mb-2">Información Legal</p>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Términos y condiciones</a>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Política de privacidad</a>
            <a href="#" class="hover:text-palees-yellow transition-colors duration-300">Política de devoluciones</a>
        </div>
        <div class="flex flex-col items-center md:items-start space-y-2">
            <p class="text-palees-yellow font-semibold mb-2">Síguenos</p>
            <div class="flex space-x-4 text-2xl">
                <a href="#" class="hover:text-palees-yellow transition-colors duration-300"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="hover:text-palees-yellow transition-colors duration-300"><i class="fab fa-instagram"></i></a>
                <a href="#" class="hover:text-palees-yellow transition-colors duration-300"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center mt-12 text-sm opacity-80 border-t border-palees-yellow pt-6 mx-auto w-3/4">
        &copy; 2025 Palees. Todos los derechos reservados.
    </div>
</footer>
